In [3]:
#Amostragem

In [3]:
## Carregamento da base de dados

In [21]:
import pandas as pd
import random
import numpy as np

In [3]:
dataset = pd.read_csv('bases_de_dados/census.csv')

In [4]:
dataset.shape

(32561, 15)

In [5]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
dataset.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [19]:
##Amostragem aleatória simples

In [11]:
df_amostra_aleatoria_simples = dataset.sample(n =100, random_state= 1)

df_amostra_aleatoria_simples.shape

(100, 15)

In [12]:
df_amostra_aleatoria_simples.head

<bound method NDFrame.head of        age          workclass  final-weight      education  education-num  \
9646    62   Self-emp-not-inc         26911        7th-8th              4
709     18            Private        208103           11th              7
7385    25            Private        102476      Bachelors             13
16671   33            Private        511517        HS-grad              9
21932   36            Private        292570           11th              7
...    ...                ...           ...            ...            ...
27578   64                  ?        200017        HS-grad              9
2544    19                  ?        192773   Some-college             10
2486    75                  ?        164849            9th              5
13143   28            Private        154863      Bachelors             13
551     36   Self-emp-not-inc         27053        HS-grad              9

            marital-status          occupation     relationship    race  \
9646               Widowed       Other-service    Not-in-family   White
709          Never-married       Other-service   Other-relative   White
7385         Never-married     Farming-fishing        Own-child   White
16671   Married-civ-spouse      Prof-specialty          Husband   White
21932        Never-married   Machine-op-inspct        Unmarried   White
...                    ...                 ...              ...     ...
27578              Widowed                   ?    Not-in-family   White
2544         Never-married                   ?        Own-child   White
2486    Married-civ-spouse                   ?          Husband   Black
13143        Never-married        Adm-clerical        Own-child   Black
551              Separated       Other-service        Unmarried   White

           sex  capital-gain  capital-loos  hour-per-week  native-country  \
9646    Female             0             0             66   United-States
709       Male             0             0             25   United-States
7385      Male         27828             0             50   United-States
16671     Male             0             0             40   United-States
21932   Female             0             0             40   United-States
...        ...           ...           ...            ...             ...
27578   Female             0             0             20   United-States
2544    Female             0             0             35   United-States
2486      Male          1409             0              5   United-States
13143     Male             0             0             35   United-States
551     Female             0             0             40   United-States

       income
9646    <=50K
709     <=50K
7385     >50K
16671   <=50K
21932   <=50K
...       ...
27578   <=50K
2544    <=50K
2486    <=50K
13143   <=50K
551     <=50K

[100 rows x 15 columns]>

In [14]:
def amostragem_aleatoria_simples(dataset, amostras):
    return dataset.sample(n = amostras, random_state=1)

In [15]:
df_amostra_aleatoria_simples = amostragem_aleatoria_simples(dataset, 100)
df_amostra_aleatoria_simples.shape

(100, 15)

In [16]:
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

In [24]:
dataset.shape

(32561, 15)

In [26]:
np.arange(68,len(dataset), 325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [27]:
def amostragem_aleatoria_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(5)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset), intervalo)
    amostra_sistematica = dataset.iloc[indices]
    return amostra_sistematica

In [28]:
df_amostra_aleatoria_sistematica = amostragem_aleatoria_sistematica(dataset, 100)
df_amostra_aleatoria_sistematica.shape

(100, 15)

In [29]:
df_amostra_aleatoria_sistematica.head

<bound method NDFrame.head of        age   workclass  final-weight      education  education-num  \
318     29     Private        423158   Some-college             10
643     36     Private        188563   Some-college             10
968     48     Private        164966      Bachelors             13
1293    46     Private        279661        Masters             14
1618    32     Private        375833           11th              7
...    ...         ...           ...            ...            ...
31193   19           ?        230874   Some-college             10
31518   38     Private        337130        1st-4th              2
31843   67   Local-gov        204123      Bachelors             13
32168   20     Private        200153        HS-grad              9
32493   24     Private        381895           11th              7

               marital-status          occupation     relationship  \
318             Never-married        Tech-support    Not-in-family
643        Married-civ-spouse               Sales          Husband
968        Married-civ-spouse     Exec-managerial          Husband
1293       Married-civ-spouse      Prof-specialty          Husband
1618            Never-married        Craft-repair   Other-relative
...                       ...                 ...              ...
31193           Never-married                   ?        Own-child
31518   Married-spouse-absent        Craft-repair    Not-in-family
31843      Married-civ-spouse      Prof-specialty          Husband
32168           Never-married       Other-service        Own-child
32493                Divorced   Machine-op-inspct        Unmarried

                      race      sex  capital-gain  capital-loos  \
318                  White   Female             0             0
643                  White     Male          5178             0
968     Asian-Pac-Islander     Male             0             0
1293                 Black     Male             0             0
1618                 White     Male             0             0
...                    ...      ...           ...           ...
31193                White   Female             0             0
31518                White     Male             0             0
31843                White     Male             0             0
32168                White   Female             0             0
32493                White   Female             0             0

       hour-per-week  native-country  income
318               40   United-States   <=50K
643               50   United-States    >50K
968               40           India    >50K
1293              35   United-States   <=50K
1618              40   United-States   <=50K
...              ...             ...     ...
31193             40   United-States   <=50K
31518             40          Mexico   <=50K
31843             10   United-States   <=50K
32168             38   United-States   <=50K
32493             40   United-States   <=50K

[100 rows x 15 columns]>